* {
  padding: 0;
  margin: 0;
}

.cardimg {
  width: 100px;
  height: 100px;
}

.wap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.cardsize {
  width: 300px;
  height: 350px;
}
.carsizeb {
  width: 300px !important;
  height: 430px !important;
}
